# Node.js
/node_modules/

# Development environment
.env

# Build output
/build/

# Editor and IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Dependency lock files
package-lock.json
yarn.lock

# Logs and debugging files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled binary files
*.exe
*.dll
*.so
*.dylib

# Miscellaneous
.DS_Store
Thumbs.db